<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codemonkeys9.budgeit">

    <application
        android:name=".application.BudApplication"
        android:allowBackup="true"
        android:icon="@mipmap/budgeit_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/budgeit_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.CategoryViewActivity"
            android:fitsSystemWindows="true"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.ModifyEntryAmountActivity"
            android:fitsSystemWindows="true"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.ModifyCategoryAmountActivity"
            android:fitsSystemWindows="true"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
        android:name=".ui.ModifyEntryDateActivity"
        android:fitsSystemWindows="true"
        android:parentActivityName=".ui.MainActivity"
        android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.ModifyEntryDescriptionActivity"
            android:fitsSystemWindows="true"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.ModifyCategoryDescriptionActivity"
            android:fitsSystemWindows="true"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.ChangeEntryCategoryActivity"
            android:fitsSystemWindows="true"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.DateRangeActivity"
            android:fitsSystemWindows="true"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.NewEntryActivity"
            android:fitsSystemWindows="true"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.NewCategoryActivity"
            android:fitsSystemWindows="true"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>